#java ignore
eats/build/*
eats/src/test/*
eats/.settions/*
eats/WebContent/META-INF/*
eats/WebContent/WEB-INF/lib/*
eats/WebContent/assets/*
eats/WebContent/uploads/*
eats/WebContent/images/*
eats/.classpath
eats/.project
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*