#java ignore
build/*
src/test/*
.settings/*
WebContent/META-INF/*
WebContent/WEB-INF/lib/*
WebContent/assets/*
WebContent/uploads/*
WebContent/images/*
.classpath
.project
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*